[defaults]
inventory = ./hosts
private_key_file = /Users/klarsen/.vagrant.d/insecure_private_key
remote_user = vagrant
#host_key_checking = False
executable = /bin/bash
gathering = smart
# Use Redis as backend.
fact_caching = redis
fact_caching_timeout = 86400

[ssh_connection]
#pipelining = True
host_key_checking = False
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o ForwardAgent=yes
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
